<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "D:\mybatis-3-mapper.dtd">
  <mapper namespace="com.Beom.app.board.qna.QnaDAO">
  	<sql id="search">
  		<where>
	  		<choose>
	  			<when test="kind=='kind1'">BOARDTITLE</when>
	  			<when test="kind=='kind2'">BOARDCONTENTS</when>
	  			<otherwise>BOARDWRITER</otherwise>
	  		</choose>
	  		LIKE CONCAT('%',#{search},'%')
  		</where>  		
  	</sql>
  	
  	<select id="getTotalCount" resultType="Long" parameterType="Pager">
  		SELECT COUNT(BOARDNUM) FROM QNA
  		<include refid="search"></include>
  		
  	</select>
  	
  	<select id="getList" resultType="QnaVO" parameterType="Pager">
  	
  		SELECT * FROM QNA 
  		
		<include refid="search"></include>
				
  		ORDER BY BOARDNUM DESC
  		LIMIT #{startIndex},#{perPage}
  	</select>
  	
  	
  	<insert id="add" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="boardNum">
  		INSERT INTO QNA
  		(BOARDWRITER,BOARDTITLE,BOARDCONTENTS,BOARDDATE,BOARDHIT,BOARDREF,BOARDSTEP,BOARDDEPTH)
  		VALUES
  		(#{boardWriter},#{boardTitle},#{boardContents},now(),0,0,0,0)
  		<!--  null값시 자동증가  -->
  	</insert>
  	
  	<update id="refUpdate" parameterType="BoardVO">
  		UPDATE QNA SET BOARDREF=#{boardNum} WHERE BOARDNUM=#{boardNum}
  	</update>
  	
  	<insert id="addFile" parameterType="FileVO">
  		INSERT INTO QNAFILES
  		VALUES (null,#{boardNum},#{fileName},#{oriName})
  	</insert>
  	
  	
  </mapper>